<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestor de Empleados</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/estilosAdmin.css">
   
</head>
<body>


        <h1>Datos empleados</h1>
  
        <!-- Se va a realizar Tabla de la información de los empleados -->
        <% empleados.forEach(function(empleado){ %>
            <p> <%= empleado.nombre%> </p>
            <p> <%= empleado.edad%> </p>
            <p> <%= empleado.correo%> </p>
            <p> <%= empleado.usuario%> </p>
            <p> <%= empleado.contra%> </p>
            <p> <%= empleado.sede%> </p>
            <button onclick="location.href='/administrador/editar/<%= empleado.id%>'">Editar </button>
            <form action="/administrador/eliminar/<%= empleado.id%>?_method=DELETE" method="POST">
                <button type="submit">Eliminar </button> 
            </form>
            <!-- <button onclick="location.href='/administrador/ver/<%= empleado.id%>'">DetallarEmpleado</button>
            <br> -->
            <button onclick="visualizar('<%= empleado.nombre%>','<%= empleado.edad%>' , '<%= empleado.sede%>'  )">Visualizar</button>
            <br>
        <% }); %>
       
        <button onclick=" location.href='/administrador/crear'"> Agregar Empleado</button> 
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="/javascript/prueba.js"></script>
</body>
</html>