<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestor de Empleados</title>
</head>
<body>
        <h1>Datos empleados</h1>
  

        <% empleados.forEach(function(empleado){ %>
            <p> <%= empleado.nombre%> </p>
            <p> <%= empleado.edad%> </p>
            <p> <%= empleado.correo%> </p>
            <p> <%= empleado.usuario%> </p>
            <p> <%= empleado.contra%> </p>
            <button onclick="location.href='/administrador/editar'">Editar </button>
            <br>
        <% }); %>
        <button onclick=" location.href='/administrador/crear'"> Agregar Empleado</button>
  
</body>
</html>