<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creación empleado</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/buttons.css">
    <link rel="stylesheet" href="/css/formularioEmpleado.css">
    <script src="https://kit.fontawesome.com/c9d22b43b9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/CrearEmpleado.css">


</head>

<body>
    <div class="navegacion">
        <%- include('../partials/navegacion') %>

            <div class="form">
                <h1>Formulario Editar Empleado</h1>

                <form action="/administrador/editar/<%=empleado.id%>?_method=PUT" method="POST">
                    <div class ="espacio">
                        <label for="nombre">Nombre</label>
                        <input type="text" name="nombre" id="nombre" value="<%= empleado.nombre%>">
                    </div>
                    <div class ="espacio">
                        <label for="edad">Edad</label>
                        <input type="number" name="edad" id="edad" value="<%= empleado.edad%>">

                    </div>

                    <div class ="espacio">
                        <label for="correo">Correo</label>
                        <input type="email" name="correo" id="correo" value="<%= empleado.correo%>">

                    </div>

                    <div class ="espacio">
                        <label for="sede">Sede </label>
                        <select name="sede" id="sede">
            

                        <%  var opciones = ["Cedritos", "Chapiñero","Bosa"] %>
                        <% for(var i = 0; i < opciones.length; i++){ %>
                            <% if(empleado.sede == opciones[i]){ %>
                                <option value="<%=opciones[i] %>" selected> <%=opciones[i] %></option>
                            <% }else{ %>
                                <option value="<%=opciones[i] %>"> <%=opciones[i] %></option>
                            <% } %>
                        <% } %>

                        </select>
                        
                    </div>

                    <div class ="espacio">
                        <label for="rol">Rol </label>
                        <select name="rol" id="rol">
            

                        <%  var opciones = ["Administrador", "Empleado","Salud"] %>
                        <% for(var i = 0; i < opciones.length; i++){ %>
                            <% if(empleado.rol == opciones[i]){ %>
                                <option value="<%=opciones[i] %>" selected> <%=opciones[i] %></option>
                            <% }else{ %>
                                <option value="<%=opciones[i] %>"> <%=opciones[i] %></option>
                            <% } %>
                        <% } %>

                        </select>
                        
                    </div>



                    <div class ="espacio">
                        <label for="usuario">Usuario</label>
                        <input type="text" name="usuario" id="usuario" value="<%= empleado.usuario%>">
                    </div>

                    <div class ="espacio">
                        <label for="contra">Contraseña</label>
                        <input type="password" name="contra" id="contra" value="<%= empleado.nombre%>">
                    </div>

                    <button type="submit">Editar</button>
                </form>
            </div>
</body>

</html>